.subscribeSection {
  display: block;
  margin-top: 80px;
  padding: 50px 20px 140px 20px;
  background-color: #c7b3a8;

  .subscribeBanner {
    width: 1120px;
    height: 633px;
    margin-right: auto;
    margin-left: auto;

    .subscribeTitle {
      margin-top: 50px;
      font-size: 28px;
      font-weight: 500;
    }

    .subscribeSubText {
      margin-bottom: 24px;
      color: rgb(240, 231, 231);
      font-size: 16px;
    }

    .subscribeFlexBox {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 90%;
      gap: 20px;

      .insenseLife {
        position: relative;
        flex: none;
        width: calc(50% - 10px);
        background-color: #c9eeff;
      }

      .subscribeContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(50% - 10px);

        .insenseMood {
          position: relative;
          width: 100%;
          height: calc(50% - 10px);
          background-color: #97deff;
        }

        .insensePost {
          position: relative;
          width: 100%;
          height: calc(50% - 10px);
          background-color: #62cdff;
        }
      }
    }
  }
}
