.main {
  width: 100vw;
  background-color: #eee4d4;

  .mainContents {
    margin-top: 40px;

    .mainNotice {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1120px;
      margin: 0 auto;
      background-color: #dfdada;

      .notice {
        margin-right: 20px;
        margin-left: 20px;
        color: rgb(135, 135, 135);
      }
      .noticeBox {
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
      }
    }
    .recommendSector {
      .recommendTitle {
        width: 1120px;
        margin: 0 auto;
        margin-top: 60px;
        font-size: 28px;
        font-weight: 500;
      }

      .recommendWrapper {
        position: relative;

        .leftArrow {
          position: absolute;
          z-index: 10;
          top: 34%;
          left: 21%;

          .recommendArrow {
            width: 40px;
            height: 40px;
            opacity: 0.5;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .recommendList {
          display: flex;
          position: relative;
          width: 1120px;
          margin: 0 auto;
          overflow: hidden;

          .recommendProduct {
            margin-right: 15px;
            transition: all 1s;
            .productImgBox {
              position: relative;

              &:hover .productHoverImg {
                display: block;
                opacity: 1;
              }
              &:hover .hoverCart {
                display: block;
                opacity: 1;
              }

              .productImg {
                width: 225px;
                height: 250px;
                margin-right: 10px;
                margin-right: auto;
                margin-left: auto;
              }
              .productHoverImg {
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 225px;
                height: 250px;
                transition: opacity 0.5s linear;
                opacity: 0;
              }
              .hoverCart {
                display: none;
                position: absolute;
                top: 200px;
                left: 172px;
                width: 40px;
                height: 40px;
                padding: 10px;
                border: 1px solid none;
                border-radius: 50%;
                background-color: rgba(193, 192, 192, 255);
                color: white;
                &:hover {
                  border-radius: 50%;
                  background-color: #000000;
                  cursor: pointer;
                }
              }
            }

            .productName {
              .pdPrice {
                font-size: 18px;
                font-weight: 500;
              }
              a {
                font-size: 16px;
              }
            }
            .pdPriceCancel {
              color: rgb(131, 131, 131);
              font-size: 16px;
              text-decoration: line-through;
            }

            .pdPriceDiscountBox {
              display: flex;
              align-items: center;

              .pdPriceDiscount {
                font-size: 18px;
                font-weight: 500;
              }
              .percentText {
                margin-left: 15px;
                color: #b8621b;
                font-size: 24px;
              }
            }
          }
        }

        .rightArrow {
          position: absolute;
          z-index: 10;
          top: 35%;
          right: 21%;

          .recommendArrow {
            width: 40px;
            height: 40px;
            opacity: 0.5;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .recommendMore {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .recommendMoreButton {
          display: flex;
          align-items: center;
          padding: 15px 60px;
          border: 1px solid lightgrey;
          border-radius: 5px;
          background-color: whitesmoke;
          text-align: center;
          &:hover {
            cursor: pointer;
          }

          .toProductList {
            display: flex;
            align-items: center;
            color: #252525;
            text-decoration: none;
          }
        }
      }
    }

    .companySection {
      position: relative;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
      border-top: 1px solid lightgray;

      .companyBackground {
        display: flex;
        justify-content: center;
        width: 1120px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
      }

      .companyTextBox {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;

        .companyText {
          color: #fff;
          font-size: 26px;
          font-weight: 320;
        }
      }
    }
  }
}
