@import '../../styles/mixin';

.cart {
  padding-top: 150px;
  background-color: #eee4d4;

  .cartBanner {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;

    .cartTitle {
      padding: 20px 0 15px;

      .titleText {
        font-size: 26px;
      }
    }
  }

  .cartInner {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    .cartList {
      width: 750px;

      .orderBtnContainer {
        @include displayJustify;
        flex-direction: column;
        width: 100%;
        margin-top: 40px;

        .upperBtnBox {
          @include displayJustify;
          width: 60%;
          margin: 0 auto;
          gap: 10px;

          button {
            @include buttonStyle;
            width: 100%;
            padding: 15px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .bottomBtnBox {
          @include displayJustify;
          width: 60%;
          margin: 10px auto;

          button {
            @include buttonStyle;
            width: 100%;
            padding: 15px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
