.cart {
  padding-top: 150px;
  background-color: #eee4d4;

  .cartBanner {
    //860px 장바구니 리스트
    width: 1120px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;

    .cartTitle {
      padding: 20px 0 15px;

      .titleText {
        font-size: 26px;
      }
    }
  }

  .cartInner {
    width: 1120px;
    margin: 0 auto;

    .cartList {
      width: 750px;

      .cartChoice {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        border-bottom: 1px solid #252525;

        .allChk {
          display: flex;
          align-items: center;

          .checkbox {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
            }
          }

          .allSelect {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .selectDel {
          margin: 0;

          .borderLine {
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 0 10px;
            background-color: lightgray;
            color: lightgray;
            vertical-align: middle;
          }

          .selectChk {
            border: none;
            background-color: #eee4d4;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .listContainer {
        display: flex;
        flex-direction: column;

        .product {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 20px 8px;

          .checkbox {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
          }

          .productImgName {
            display: flex;
            flex: auto;
            align-items: center;

            .imgBox {
              width: 96px;
              height: 110px;
              background-color: #252525;
            }

            .textBox {
              padding-left: 30px;
            }
          }

          .quantityBox {
            display: flex;
            justify-content: space-between;
            width: 40%;

            .count {
              display: flex;
              border-radius: 5px;

              input {
                flex: 1 1 auto;
                width: 40px;
                border: none;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
              }

              button {
                width: 40px;
                height: 40px;
                border: none;
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
