.goodList {
  display: flex;
  flex-wrap: wrap;

  .goodListItem {
    display: flex;
    flex-direction: column;
    // align-items: center;

    width: 25%;
    margin-bottom: 40px;

    .image {
      display: flex;
      position: relative;
      justify-content: center;
      height: 200px;
      margin-top: 30px;

      .rendingImage {
        width: 200px;
      }

      .hoverImage {
        display: none;
        position: absolute;
        width: 200px;
        height: 200px;
      }
      &:hover {
        .hoverImage {
          display: block;
          cursor: pointer;
        }
        .hoverCart {
          display: block;

          cursor: pointer;
        }
      }
      .hoverCart {
        display: none;
        position: absolute;
        top: 150px;
        left: 190px;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid none;
        border-radius: 50%;
        background-color: rgba(193, 192, 192, 255);
        color: white;
        &:hover {
          border-radius: 50%;
          background-color: #000000;
        }
      }
    }

    .item {
      display: flex;
      margin-top: 10px;
      margin-left: 45px;
      font-weight: bold;
    }

    .normalPrice {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 45px;
      color: rgba(122, 122, 121, 255);
      font-size: 13px;
    }

    .price {
      margin-top: 7px;
      margin-bottom: 10px;
      margin-left: 45px;
      color: rgba(122, 122, 121, 255);
      font-size: 13px;
      text-decoration: line-through;
    }

    .discount {
      display: flex;
      margin-left: 45px;

      .discountPrice {
        font-weight: bold;
      }

      .discountRate {
        display: flex;
        align-items: center;
        margin-left: 5px;
        color: red;
        // display: flex;
      }
    }

    .heartCount {
      display: flex;
      margin-left: 20px;

      .heart {
        width: 25px;
        height: 25px;
        margin-right: 8px;
        margin-bottom: -9px;
        color: rgba(192, 192, 192, 255);
      }

      .count {
        color: rgba(192, 192, 192, 255);
        font-weight: bold;
      }
    }
  }
}
