.bannerBody {
  width: 100vw;
  height: 660px;
  .bannerContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .mainBanner {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      background-size: cover;

      .alignText {
        display: flex;
        position: absolute;
        top: 35%;
        left: 12%;
        flex-direction: column;

        .bannerTitle {
          font-size: 36px;
        }
        .bannerText {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }
  }

  .alignBox {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 36%;
    left: 0.7%;
    justify-content: space-between;
    width: 100%;

    .mainArrowIcon {
      display: inline-block;
      width: 60px;
      height: 60px;
      opacity: 0.3;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
