.image {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .incense {
    width: 600px;
    height: 600px;
    padding: 50px;
  }
  .review {
    display: flex;
    justify-content: space-between;

    .start {
      color: red;
    }
  }
}
