.cardImageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 400px;
  background-color: #b9b3aa;

  .cardImage {
    max-width: 400px;
    height: 200px;
    overflow: hidden;
  }

  .messageContents {
    width: 400px;
    height: 88px;
  }
}
