.payInfo {
  display: flex;
  position: sticky;
  top: 100px;
  flex-direction: column;
  margin-left: 100px;
  .details {
    display: flex;

    padding: 20px 30px;
    background-color: #9e887c;
    .detail {
      display: flex;
      justify-content: space-between;
      width: 300px;
      padding-bottom: 20px;
      border-bottom: 1px solid black;

      .deliveryFee {
        opacity: 70%;
        color: red;
      }
    }
  }
  button {
    padding: 20px;
    border: none;
    background-color: #333333;
    color: white;

    &:hover {
      background-color: #000000;
      color: white;

      font-weight: bold;
      cursor: pointer;
    }
  }
}
