@import '../../styles/variables';

.signup {
  .header {
    margin: 10px;
    .inner {
      @include flexCenter;
      padding: 10px;
      border-bottom: 2px solid #f0f0f0;
      .pageTitle {
        position: absolute;
        font-size: 20px;
      }
      .btnPageClose {
        margin-left: 410px;
        border: none;
        background-color: white;
        color: #898989;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}
.containar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  .loginSection {
    position: relative;
    .nameInput {
      @include inputBox;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .nameDelBtn {
      @include delBtn;
      top: 3.5%;
      right: 1%;
    }
    .phoneInput {
      @include inputBox;
      margin-bottom: 15px;
    }
    .phoneDelBtn {
      @include delBtn;
      top: 11%;
      right: 1%;
    }
    .dateInput {
      @include inputBox;
      margin-bottom: 15px;
    }
    .genderInput {
      @include inputBox;
      margin-bottom: 15px;
    }
    .idInput {
      @include inputBox;
      margin-bottom: 15px;
    }
    .idDelBtn {
      @include delBtn;
      top: 32%;
      right: 1%;
    }

    .passwordInput {
      @include inputBox;
      margin-bottom: 15px;
    }
    .pwDelBtn {
      @include delBtn;
      top: 39.3%;
      right: 1%;
    }
    .passwordCheck {
      @include inputBox;
    }
    .pwCheckDelBtn {
      @include delBtn;
      top: 46.5%;
      right: 1%;
    }

    .pwNotice {
      display: flex;
      justify-content: flex-end;
      padding-top: 20px;
      color: #898989;
    }
  }

  .agreedBox {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    .accordion {
      .accordionMain {
      }
      .agreedCheck {
        margin: 15px;
        cursor: pointer;
        .terms {
          font-size: 20px;
          font-weight: bold;
        }
        .accordionMain {
          .accordionText {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.signupBtn {
  width: 440px;
  height: 60px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #c6c6c6;
  font-size: 20px;
  cursor: not-allowed;
}
.activeSignupBtn {
  width: 440px;
  height: 60px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #5c95f0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.bottomMenu {
  @include flexCenter;
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.joinMembership {
  width: 440px;
  height: 45px;
  padding: 0 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
