@import '../../styles/variables';

body {
  .header {
    margin: 10px;
    .inner {
      @include flexCenter;
      padding: 10px;
      border-bottom: 2px solid #f0f0f0;
      .pageTitle {
        font-size: 20px;
      }
      .btnPageClose {
        border: none;
        background-color: white;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
  .containar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    .loginSection {
      .loginGuide {
        margin: 80px 0;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
    }
    .nameInput {
      width: 440px;
      height: 50px;
      margin-top: 30px;
      margin-bottom: 15px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .phoneInput {
      width: 440px;
      height: 50px;
      margin-bottom: 15px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .dateInput {
      width: 440px;
      height: 50px;
      margin-bottom: 15px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .loginInput {
      width: 440px;
      height: 50px;
      margin-bottom: 15px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .delBtn {
      border: none;
    }
    .passwordInput {
      width: 440px;
      height: 50px;
      margin-bottom: 15px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .passwordCheck {
      width: 440px;
      height: 50px;
      padding: 0 12px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;
    }
    .pwNotice {
      display: flex;
      justify-content: flex-end;
      padding-top: 20px;
      color: #898989;
    }
    .agreedBox {
      margin: 20px 0;
      padding: 10px;
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      .accordion {
        .accordionMain {
        }
        .agreedCheck {
          margin: 15px;
          cursor: pointer;
          .terms {
            font-size: 20px;
            font-weight: bold;
          }
          .accordionMain {
            .accordionText {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .signupBtn {
    width: 440px;
    height: 60px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #c6c6c6;
    cursor: pointer;
  }
  .bottomMenu {
    @include flexCenter;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    .idSearch {
    }
    .pwSearch {
    }
  }
  .joinMembership {
    width: 440px;
    height: 45px;
    padding: 0 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}
