.nameBar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(226, 215, 197, 255);

  .priceSort {
    display: flex;
    margin-right: 20px;
    color: #9e887c;
    font-weight: bold;

    .sort {
      margin-left: 40px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
